# Ignore sensitive information
.env
config.json
credentials.txt
secrets.txt

*.pyc
*.o
*.class
*.jar

# Ignore user-specific files
.DS_Store
Thumbs.db
.log
.swp

# Ignore build artifacts and output
/dist
/build
/target
/bin

# Ignore third-party libraries and dependencies
/node_modules
/vendor
/.venv
/.gradle

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore Terraform files (if applicable)
/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json

# Ignore other unnecessary files
README.md~
*.tmp
# Ignore PaddleOCR models
en_PP-OCRv3_det/
en_PP-OCRv3_rec/
en_ppstructure_mobile_v2.0_SLANet/
